<form [formGroup]="artistForm" (ngSubmit)="onSubmit(artistForm.value)">
    <p-card>
        <div class="p-grid">
            <div class="p-col-6 p-text-right">Artist Name(Th):</div>
            <div class="p-col-6">
                <input pInputText type="text" formControlName="nameTh" />
                <div
                    *ngIf="xartistForm.nameTh.invalid  && (xartistForm.nameTh.dirty || xartistForm.nameTh.touched)">
                    <small *ngIf="xartistForm.nameTh.errors.required" class="p-error">Artist Name Thai is not
                        available.</small>
                </div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-6 p-text-right">Artist Name(En):</div>
            <div class="p-col-6">
                <input pInputText type="text" formControlName="nameEn" />
                <div
                    *ngIf="xartistForm.nameEn.invalid  && (xartistForm.nameEn.dirty || xartistForm.nameEn.touched)">
                    <small *ngIf="xartistForm.nameEn.errors.required" class="p-error">Artist Name Eng is not
                        available.</small>
                </div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-6 p-text-right">Artist CallName:</div>
            <div class="p-col-6">
                <input pInputText type="text" formControlName="callNameTh" />
                <div
                    *ngIf="xartistForm.callNameTh.invalid  && (xartistForm.callNameTh.dirty || xartistForm.callNameTh.touched)">
                    <small *ngIf="xartistForm.callNameTh.errors.required" class="p-error">Artist Call Name Eng is
                        not
                        available.</small>
                </div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-6 p-text-right">Artist CallName(En):</div>
            <div class="p-col-6">
                <input pInputText type="text" formControlName="callNameEn" />
                <div
                    *ngIf="xartistForm.callNameEn.invalid  && (xartistForm.callNameEn.dirty || xartistForm.callNameEn.touched)">
                    <small *ngIf="xartistForm.callNameEn.errors.required" class="p-error">Artist Call Name Thai is
                        not
                        available.</small>
                </div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-6 p-text-right">Artist Type:</div>
            <div class="p-col-6">
                <input pInputText type="text" formControlName="type" />
                <div
                    *ngIf="xartistForm.type.invalid  && (xartistForm.type.dirty || xartistForm.type.touched)">
                    <small *ngIf="xartistForm.type.errors.required" class="p-error">Artist Type Thai is
                        not
                        available.</small>
                </div>
            </div>
        </div>
    </p-card>
    <br>
    <div class="p-text-center">
        <button pButton pRipple type="submit" label="Save" class="p-button-rounded p-button-secondary"
            [disabled]="!artistForm.valid" ></button> &nbsp;
        <button pButton pRipple type="button" label="Cancel"
            class="p-button-rounded p-button-secondary p-button-outlined" (click)="artistForm.reset()"></button>
    </div>
</form>